
{% extends 'template-base.html' %} {% load static  %} {% block title %}My Bolg找回密码 {% endblock %}
{% block style %}
    <style>
      .py-xl{
        height: 75vh;
      }

    </style>
{% endblock %}
{% block content %}
<main class="main">
  <section class="py-xl bg-cover bg-size--cover" style="background-image: url('/static/favicon/android-chrome-192x192.png')">
    <span class="mask bg-primary alpha-6"></span>
    <div class="container d-flex align-items-center no-padding">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <a href="/{{before_step}}" title="返回" class="btn btn-primary btn-nobg btn-zoom--hover mb-3">
                  <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                </a> 
                <span class="clearfix"></span>
                <img src="/static/favicon/android-chrome-192x192.png" style="width: 50px;">
                <h4 class="heading h3 text-white pt-1 pb-1 text-center">输入注册邮箱</h4>
                <form class="form-primary" action="/find-password/" method="post">
                  <input type="hidden" name="before_step" value="{{before_step}}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="email" class="form-control" name="input_email" value="{{input_email}}" required placeholder="邮箱">
                  </div>
                  <button type="submit" class="btn btn-block btn-lg bg-white mt-4">确定</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="pt-5 pb-3 footer footer-dark bg-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="pr-lg-1">
          <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>欢迎</strong></h1>
          <p>这只是一个私人小站，感谢您的注册，请多多支持！</p>
        </div>
      </div>
      <div class="col-6 col-md">
        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">其他</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/">返回主页</a></li>
          <li><a class="text-muted" href="#">私信给我</a></li>
          <li><a class="text-muted" href="#">私信给我</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">友情链接</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/">返回主页</a></li>
          <li><a class="text-muted" href="#">私信给我</a></li>
          <li><a class="text-muted" href="#">私信给我</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="alert alert-{{msg.msg_type}} alert-dismissible fade show self-alert"  role="alert">
  <span class="alert-inner--icon"><i class="fas fa-exclamation"></i></span>
  <span class="alert-inner--text">{{msg.content}}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

  {% endblock %}


<!-- 外部脚本 -->
{% block jsout %}
{#<script src="{% static 'js/app_equipment_manage_Home.js' %}?{% now 'U' %}" type="text/javascript"></script>#}
<!-- 引入自定义js -->
<script>

</script>
{% endblock %}